body {
    font-size: 20px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0E5801;
}

header {
    margin-bottom: 2em;
}

footer {
    margin-top: 2em;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.row {
    margin-bottom: 1em;
}